@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color-primary: #0a152f;
    --bg-colot-secondary: #20306b;
}

body {
    background-color: var(--bg-color-primary);
    font-family: 'Raleway', sans-serif;
    height: 100vh;
}

main {
    background: url("../img/bg-desktop.svg") center bottom /contain no-repeat;
    height: 100%;
    display: flex;
    align-items: center;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    bottom: 25px;
}

.article-left {
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: var(--bg-colot-secondary);
    padding: 35px;
    border-radius: 10px 100px 10px 10px;
    margin-right: 15px;
}

.logo {
    width: 120px;
    margin-bottom: 30px;
}

.icons {
    display: flex;
    width: 160px;
    justify-content: space-between;
}

.box {
    display: flex;
    width: 45px;
    height: 45px;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-primary);
}

.article-right {
    width: 470px;
    background-color: var(--bg-colot-secondary);
    padding: 40px;
    margin-left: 15px;
    border-radius: 10px;
    color: hsl(243, 100%, 93%);
    font-size: 0.8rem;
}

.article-right span {
    color: hsl(243, 100%, 93%);
    font-weight: 700;
}

.loader-box {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 4px 3px;
    height: 18px;
    width: 100%;
    background-color: var(--bg-color-primary);
    margin: 15px 0 10px 0;
    border-radius: 40px;
}

.loader {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 13px;
    width: 5%;
    background-color: pink;
    border-radius: 40px;
    animation: loader 2s forwards ease-in;
}

.dot {
    display: flex;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    margin: 2px;
    position: relative;
    left: 0;
    animation: loader-dot 1s forwards ease-in;
}

.values {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 0.6rem;
    font-weight: bold;
    color: hsl(243, 100%, 93%);
}

.tooltip-box {
    width: 180px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 255px;
}

.tooltip {
    padding: 15px;
    background-color: #fff;
    border-radius: 10px 10px 0 10px;
}

.tooltip p {
    font-size: 1.8rem;
    color: #272727;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.tooltip span {
    font-size: 0.7rem;
    color: #a5a2a2;
    margin-left: 10px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.tooltip-arrow {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid white;
    transform: rotate(-45deg);
    position: relative;
    bottom: 21px;
    left: 3px;
}

@keyframes loader {
    to {
        background: linear-gradient(90deg, rgb(241, 190, 190) 0%, rgba(246, 174, 220, 1) 31%, rgba(240, 105, 217, 1) 70%, rgba(252, 86, 163, 1) 100%);
        width: 80%;
    }
}

@keyframes loader-dot {
    100% {
        left: 95%;
    }
}

@media(min-width: 320px) and (max-width:768px) {
    main {
        background: url("../img/bg-mobile.svg") center bottom /cover no-repeat;
    }
    section {
        flex-direction: column;
        align-items: center;
    }
    .article-left,
    .article-right {
        width: 310px;
        margin: 10px 0;
    }
    .tooltip-box {
        right: 0;
        bottom: -20px;
        align-items: center;
        width: 100%;
    }
    .tooltip {
        border-radius: 10px;
    }
    .tooltip-arrow {
        display: none;
    }
    @keyframes loader-dot {
        to {
            left: 91%;
        }
    }
}